<ion-view>
	<ion-nav-bar class="cluber-header" >
	  <ion-nav-back-button ng-click="myGoBack()" nav-direction="forward">
	  </ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<p class="text-center" style="margin-top:50px">Hemos enviado una contraseña <br> de recuperación a</p>
		<p class="text-center" style="margin-top:40px">
				angulo@gmail.com
		</p>
		<img src="img/assets/mail.png" alt="" class="block" style="margin:0 auto;margin-top:30px">
	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive">
		<div class="buttons">
			<a href="#/home"><div class="title" >Volver al inicio</div></a>
		</div>
	</ion-footer-bar>
</ion-view>