<ion-side-menus id="profile">
	<!-- Center content -->
	<ion-side-menu side="left" class="left-menu">
		<ion-view>
			<ion-header-bar class="bar-assertive">
				<h1 class="title">Martin Seamus McFly</h1>
			</ion-header-bar>			
			<ion-content>
				<ion-list type="list-inset"> 
					<ion-item class="title">
						<p >cluber cash</p>
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Acumula Cash
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Acumula Cash
					</ion-item>
				</ion-list>
				<ion-list type="list-inset"> 
					<ion-item class="title">
						<p >Beneficios</p>
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Destacados
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Comercios
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Viajes
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Fast Food y Restaurantes
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Entretenimiento
					</ion-item>
					<ion-item class="item-icon-left">
						<i class="icon ion-email"></i>
						Belleza y cuidado personal
					</ion-item>																
				</ion-list>	
			</ion-content>
			<ion-footer-bar align-title="left" class="bar-assertive">
				<button class="button button-clear buton-icon ">
					Cerrar Sesion
					<i class="icon ion-email"></i>
				</button>
			</ion-footer-bar>				
		</ion-view>
	</ion-side-menu>  

	<ion-side-menu-content>
	<!-- Main content, usually <ion-nav-view> -->
		<ion-view>
			<ion-nav-bar class="cluber-header">
				<ion-nav-view >
					<ion-nav-buttons >
						<button class="button button-clear button-clear" ng-click="toggleLeft()">
							<i class="icon ion-navicon-round"></i>
							Ajustes
						</button>
					</ion-nav-buttons>
				</ion-nav-view>			
			</ion-nav-bar>
		
			<ion-content>
				<div class="user-content">
					<div class="user-info">
						<div class="user-photo">
							<img src="img/assets/el_chinito.gif" class="circle">
						</div>
						<p>Rodrigo Vera Loayza</p>
					</div>					
					<ion-tabs class="tabs-icon-top">
						<ion-tab title="Cupones" icon="ion-home"  href="#"  >
							<!--<ion-nav-view name="tab-cupon"></ion-nav-view>-->
														
								<ion-view>
									<h1>dogs</h1>
								</ion-view>
							
						</ion-tab>
						<ion-tab title="Sorteos" icon="ion-ios-information" href="#" >
							<!--<ion-nav-view name="tab-sorteos"></ion-nav-view>-->
							<div class="content">
									<h1>dogs</h1>
							</div>
						</ion-tab>
					</ion-tabs>					
					<!--ng-click="showTab(1)"-->

				</div>
				<div class="content">
					<!--<div class="tab-1" ng-show="tabs.activeTab">
						<ul class="list">
							<li class="item item-icon-right tab" ng-repeat=" counter in [1,2,3]" style="background-image:url(img/assets/chicharron.jpg)">
								<div class="content">
									<p class="title">Bicicleta montañera</p>
									<i class="icon ion-email"></i>
									<p>Cupón vencido</p>
								</div>
								<i class="icon ion-email"></i>
							</li>
						</ul>
					</div>
					<div class="tab-2" ng-show="tabs.activeTab">
						<ul class="list">
							<li class="item item-icon-right tab" ng-repeat=" counter in [1,2]" style="background-image:url(img/assets/chicharron.jpg)">
								<div class="content">
									<p class="title">Bicicleta montañera</p>
									<i class="icon ion-email"></i>
									<p>Cupón vencido</p>
								</div>
								<i class="icon ion-email"></i>
							</li>
						</ul>
					</div>	-->
				</div>	
			</ion-content>	
		</ion-view>	
	</ion-side-menu-content>

</ion-side-menus>