<ion-view>
	<ion-nav-bar class="cluber-header" >
	  <ion-nav-back-button ng-click="myGoBack()" nav-direction="forward">
	  </ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<p class="text-center" style="margin-top:50px">Para reestablecer la contraseña <br> ingresa tu correo aquí </p>
		<ul class="list">
			<li class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
				<input type="text" placeholder="Correo electrónico">
			</li>
		</ul>
		<p class="text-center" style="margin-top:20px">Te enviaremos una contraseña <br> de recuperación </p>
	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive">
		<div class="buttons">
			<a href="#/sended"><div class="title" >Enviar</div></a>
		</div>
	</ion-footer-bar>
</ion-view>s